body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--basic-dark-text-color);
  background-color: var(--primary-bg-color);
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include adaptive-for-desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  margin-top: 0;
  color: var(--title-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-wrap {
  position: relative;
  overflow: hidden;
}

.paragraph {
  margin-top: 0;
  margin-bottom: 0;
}
